.top-btn{
  width: 36px;
  height: 40px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
  background-color: #515250;
  opacity: 0.4;
}
.top-btn img{
  position: relative;
  top:2px;
  left: 1px;
}